.fix-button-position {
  margin-right: 20px;
}

td button:first-child {
  margin-top: 14px;
}

.add-message {
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 17px;
}

th:first-child {
  width: 30%;
}

th:nth-child(2) {
  width: 20%;
}

th:nth-child(3) {
  width: 25%;
}
